
# Server Configuration
PORT=3000
NODE_ENV=development

# Database
MONGO_URI=mongodb+srv://whanauwll-admin-jihad:whanauwellmse800@cluster0.zkswhn8.mongodb.net/whanauwell?retryWrites=true&w=majority

# Security
JWT_SECRET=Jihadmse800secretkey
TOKEN_EXPIRE=1d
ADMIN_SECRET_CODE=WhanauAdmin2024

# Multi-tenancy
ALLOWED_ORIGINS=http://localhost:5173
